@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Philosopher&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
	margin: 0;
}
body {
	width: 100vw;
	min-height: 100vh;
	background-color: #eef1f8;
	background-size: cover;
    overflow-x: hidden;
}

.banner{
    background-image: url("images/banner-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1920px ;
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 53vh;
    width: 100vw;
}
.banner-bnr{
    font-family: 'Philosopher', sans-serif;
    border: black solid 3px;
    background-color: white;
    display: grid;
    align-items: center;
    text-align:center;
    font-size:5vmin;
    height: 120px;
    width: 40vw;
    min-width: 220px;
    border-radius: 20px;
}
.contact-main{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 80vh;
    background-color: #D9D9D9;
    
}
.info{
    display: flex;
    height: 60vh;
    flex: 1;
    padding-top: 4%;
    width: 100vw;
}
.info-tab{
    display: flex;
    flex-direction: column;
    width: 30%;
    max-height: 80%;
    align-items: center;
    border-right: 1px solid black;
    font-size: 2.12vmin;
    overflow-wrap: anywhere;
}
.info-tab:nth-child(2){
    width: 40%;
}
.info-tab:nth-child(2){
    border: none;
}
.info-tab:last-child{
    border-left: 1px solid black;
    border-right: none;
}
.info-img{
    width: 90px;
    height: 90px;
}
.info-tab > p{
    padding: 10%;
}
.info-tab:nth-child(2) > p{
    padding: 6%;
}
.info-tab > p:nth-child(2) {
    font-weight: bold;
    padding: 4%
}
.form{
    width: 100vw;
    height: 50vh;
    margin-top: 5%;
    margin-bottom: 2%;
    overflow: scroll;
    overflow-x: hidden;
}
.form > p:first-child{
    font-size: 3.1vmin;
    text-align: center;
}
.form > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    width: 40vw;
    min-width: 270px;
    height: 5vh;
    min-height: 40px;
    margin: 10px;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input::placeholder{
    font-size:1.5em;
}
#message{
    height: 20vh;
}
.button{
    min-width: 25vb;
    background-color: #FCBD44; 
    min-height: 4vh;
    text-align: center;
    border: 1px solid grey;
    border-radius: 23px;
    padding:5px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button:hover{
    transform: scale(1.1);
    background-color: #6a4a0f;
}
.footer{
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 30vh;
    position: relative;
    justify-content: end;
    min-height: 30vh;
    background-color: #170E52;
}
.footer > p{
    text-align: center;
}
.footer-up{
    display: flex;
    flex:1;
    width: 100vw;
}
.footer-content{

    font-size: 3vmin;
    text-align: center;
    flex:1;
}
.footer-content:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content:last-child > p:last-child{
    text-align: left;
    font-style: italic;
}
.footer-content > p{
    margin-top: 20px;
}
.footer-content > p > a{
    color: white;
    text-decoration: none;
}
.footer-content > p > a:hover{
    color: #FCBD44;
}

.footer-content > .button{
    /* width: 2.5vi;
    text-align: left; */
    padding-left: 15px;
    padding-right: 15px;
    background-color: #D9D9D9;
    color: #635959;
    font-weight: 700;
}
.footer-down{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    border-top: #eef1f8 solid 2px;
}
.logo{
    width: 57px;
    text-align: center;
}
.logo > img{
    width: 57px;
    height: 36.69;
}
